<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="answer" type="com.po.Answer"/>
        <typeAlias alias="question" type="com.po.Question"/>
        <typeAlias alias="user" type="com.po.User"/>
     </typeAliases>
	 <mappers>
	 <!-- 加载mapper映射文件,使用批量扫描 -->
        <package name="com.mapper"/>
      
 	</mappers>
</configuration>
